<nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
  </ul>
</nav>

<% if spree_current_user %>
  <li style="color:white">
    <%= spree_current_user.email %>
  </li>
  <li>
    <%= link_to Spree.t(:logout), spree_logout_path, method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to Spree.t(:login), spree_login_path %>
  </li>
  <li>
    <%= link_to Spree.t(:signup), spree_signup_path %>
  </li>
<% end %>